body {
	background-color: #E1CE9A;
}

#titre {
	border: 1px solid black;
	color: #FFFFFF;
	border-radius: 10px;
	text-align: center;
	background-image: url(http://www.wallpapers-mania.org/images/Deco/fond-page-web-lissage-beige.jpg);
	background-repeat: no-repeat;
	padding: 50px 50px;
	margin: 20px 185px 20px 150px;
}

p {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

#chronotime {
	display: flex;
	justify-content: center;
	color: red;
	font-weight: bold;
	font-size: 20px;
}

#photo {
	margin-left: 125px;
	margin-right: 100px;
}

.photo {
	width: 150px;
	height: 200px; 
}